<!DOCTYPE html>
<html>
<head>
<title>index</title>
<meta name="author" content="rafae" >
<meta name="date" content="2024-04-06T13:02:11-0300" >
<meta name="copyright" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="expires" content="0">
<link  href="style.css" rel="stylesheet"  />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="style.css">



<meta >
</head>
<body>
  <div class="container">
    <div class="row"> 
        <div class="col-2 tijolo mt-1">

        </div>
        <div class="col-8">
            <nav id="menu" class="navbar  navbar-expand-lg bg-warning rounded-2">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">LOGO</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse  " id="navbarNav">
                    
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item m-2">
                        
                        <input type="text" id="pesquisa" placeholder="Pesquisa" class="form-control" />
                      </li>
                           
                      <li class="nav-item m-2">
                              <select id="estados" class="form-control" >
                                  <option>SP</option>
                                  <option>MG</option>
                                  <option>PR</option>
                              </select>
                         </li>
                         <li class="nav-item m-2">

                            <button class="btn btn-light btn-outline-dark rounded-circle"><i class="bi bi-search"></i></button>
                         </li>

                         

                         
                         

                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-megaphone"></i>Anúncios
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item m-2">
                                    <a id="anunciar" class="btn btn-outline-dark" href="anunciar.html" title="Anunciar Serviço">  Anunciar </a>
                                  </li>
                            
                                <li class="nav-item m-2">
                                    <a id="anuncios" class="btn btn-outline-dark" href="meus_anuncios.html" title="Meus Anúncios"> Meus Anúncios</a>
                                  </li>
                                
                            </ul>
                          </li>


                      <li class="nav-item m-2">
                        <a href="login.html"> {{}}</a>
                      </li>
                   
                    </ul>
                  </div>
                </div>
              </nav>

        </div>
        <div class="col-2 tijolo mt-1">

        </div>
    </div>
    <div class="row"> 
        <div class="col-2 tijolo mt-1">

        </div>
        <div class="col-8">
            </div>
        <div class="col-2 tijolo mt-1">

        </div>
    </div>
   
    <div class="row"> 
        <div class="col-3 tijolo mt-1">

        </div>
        <div class="col-6">
            </div>
        <div class="col-3 tijolo mt-1">

        </div>
    </div>
   

</div>
</div>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script>
    $(document).ready(function(){
   
    });
</script>

</body>
</html>